header{
    height: 110px;
    background: $text-primary-color;
    display: flex;
    justify-content: space-around;
    align-items: center;
    img{
        width: 85px;
    }
    nav{
        height: 100%;
        ul{
            height: 100%;
            display: flex;
            li{
                height: 100%;
                margin: 0 18px;
                font-size: 15px;
                font-weight: bold;
                display: flex;
                align-items: center;
                border-bottom: 3px solid transparent;
                a{
                    text-decoration: none;
                    color: #444;
                }
            }
        }
    }
    .searchbar {
        border-bottom: 2px solid $blue-color;
        color: $text-secondary-color;
        input{
            width: 150px;
            &::placeholder{
                font-weight: bold;
                color: $text-secondary-color;
            }
        }
    }
}