// FONTAWESOME
@import url('https://use.fontawesome.com/releases/v5.7.1/css/all.css');

// VARIABLES
@import "./variables";

// BUTTON
.button{
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    padding: 10px 25px;
    display: inline-block;
    background: $blue-color;
    cursor: pointer;
}