.main{
    padding: 50px;
    width: 100%;
    background: #1c1c1c;
    position: relative;
    .button.current-series-button{
        position: absolute;
        top: -25px;
    }
    .cards-container{
        display: flex;
        flex-wrap: wrap;
        padding: 30px;
    }
    #load-more-section{
        display: flex;
        justify-content: center;
        .button{
            padding: 8px 35px;
            font-size: 18px;
            a {
                color: $text-primary-color;
            }
        }
    }
}